#dictionaryApp {
    width: 40%;
}

.dictionaryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dictionaryHeader input {
    border: 0;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    padding: 5px 10px;
    margin-block: 10px;
}

.word {
    font-size: 3.5rem;
}

.partOfSpeech {
    font-size: 2rem;
    /* color: white; */
}

.definition {
    font-size: 2rem;
}

.synonyms {
    font-size: 1.5rem;
}

.antonyms {
    font-size: 1.5rem;
}