#weatherApp {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr;
    color: white;
}

.weatherHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.searchIcon{
    font-size: 2rem;
}

.weatherHeader input{
    width: 50%;
    font-size: 1.5rem;
    border: 0;
    outline: none;
    padding: 5px 10px;
    border-radius: 20px;
    margin-block: 10px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.505);
}

.primaryDataCont{
    height: 40%;
    padding: 20px;
    position: relative;
}

.cityName{
    font-weight: 600;
    font-size: 1.3rem;
}

.temp{
    font-size: 4rem;
    font-weight: 900;
}

.weatherDesc{
    position: absolute;
    right: 0;
    font-size: 1.3rem;
    font-weight: 600;
    transform: rotate(1.75turn);
}

.secondaryDataCont{
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.secondaryDataCont > *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.secondaryDataCont > * > :first-child{
    font-weight: 700;
}